<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChjtfQr_Sr2PipRh1i2dErpsJAL9oMCbg</string>
	<key>GCM_SENDER_ID</key>
	<string>977903667981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appshipe.ios.appmarker</string>
	<key>PROJECT_ID</key>
	<string>appmarker-724f3</string>
	<key>STORAGE_BUCKET</key>
	<string>appmarker-724f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977903667981:ios:c9e81f914a3d34ea7d3e44</string>
</dict>
</plist>